.login {
    width: 350px;
    padding: 30px;
    font-family: Georgia, serif;
    background-color: rgb(189, 233, 255, 100);
    border: 1px solid rgb(0, 130, 195, 100);
    border-radius: 10px;
    margin: 50px auto;
}
.login input {
    width: 100%; /*Faz a caixinha ocupar 100% da largura disponível.*/
    padding: 8px; /*Cria um espaço dentro da caixinha, entre o texto e a borda.*/
    margin-top: 5px; /*Cria 5px de espaço acima da caixinha, para ela não ficar grudada no texto "Usuário" ou "Senha".*/
    border: 1px solid #ccc; /*Coloca uma borda fina e cinza na caixinha.*/
    border-radius: 5px; /*Deixa os cantos arredondados.*/

    /* Faz o padding ficar dentro da largura */
    box-sizing: border-box;
}
.login button {
    width: 100%;

    /* Espaço acima do botão */
    margin-top: 15px;

    background-color: rgb(0, 130, 195);
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.login button:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}